export GITEA_HELPER_HOME="$PWD"
export GITEA_DOMAIN="gitea-127.0.0.1.sslip.io"
export GITEA_URL="http://${GITEA_DOMAIN}:3000"
export KO_DOCKER_REPO=localhost:5001/example
export KO_CONFIG_PATH="$GITEA_HELPER_HOME"
export PRE_RELEASE_SUFFIX=alpha